In [1]:
import os
import geopandas as gpd

In [5]:
base_path = '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/'

dirs = os.listdir(base_path)

In [13]:
geodataframes_files = []

for di in dirs:
    if di.endswith('pophu') :
        new_dir = os.path.join(base_path, di)
        new_dirs = os.listdir(new_dir)
        for f in new_dirs:
            if f.endswith('.shp'):
                new_path = os.path.join(new_dir, f)
                geodataframes_files.append(new_path)

In [14]:
geodataframes_files

['/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_42_pophu/tabblock2010_42_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_50_pophu/tabblock2010_50_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_25_pophu/tabblock2010_25_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_23_pophu/tabblock2010_23_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_09_pophu/tabblock2010_09_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_34_pophu/tabblock2010_34_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_36_pophu/tabblock2010_36_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_33_pophu/tabblock2010_33_pophu.shp',
 '/home/szymon/Documents/a02_notebooks/pyinterpolate_notebooks/breast_cancer_2/population_blocks_data/tabblock2010_44_pophu/tabblock2010_44_pophu.shp']

In [15]:
gdf_t = gpd.read_file(geodataframes_files[0])

In [16]:
gdf_t.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE,BLOCKID10,PARTFLG,HOUSING10,POP10,geometry
0,42,001,030500,2075,420010305002075,N,1,1,"POLYGON ((-77.25180 39.90578, -77.25178 39.905..."
1,42,001,030400,1048,420010304001048,N,3,6,"POLYGON ((-77.37956 39.90604, -77.37960 39.906..."
2,42,001,031300,1027,420010313001027,N,7,14,"POLYGON ((-77.08946 39.74321, -77.08905 39.743..."
3,42,001,030400,1071,420010304001071,N,5,6,"POLYGON ((-77.43259 39.90070, -77.43252 39.900..."
4,42,001,030400,1069,420010304001069,N,17,37,"POLYGON ((-77.41657 39.91041, -77.41581 39.911..."

In [17]:
core = gdf_t[['POP10', 'geometry']].copy()

for f in geodataframes_files[1:]:
    gdf = gpd.read_file(f)
    gdf = gdf[['POP10', 'geometry']]
    core = core.append(gdf, ignore_index=True)

In [18]:
core['centroid'] = core.centroid

In [29]:
generated_pop_blocks = core.drop('geometry', axis=1)

In [30]:
generated_pop_blocks

         POP10                    centroid
0            1  POINT (-77.25832 39.90518)
1            6  POINT (-77.37845 39.90668)
2           14  POINT (-77.08970 39.74257)
3            6  POINT (-77.43179 39.89980)
4           37  POINT (-77.40958 39.91029)
...        ...                         ...
1342499      0  POINT (-71.72946 41.35057)
1342500      0  POINT (-71.62523 41.36541)
1342501      0  POINT (-71.50431 41.36529)
1342502     54  POINT (-71.51705 41.53810)
1342503     11  POINT (-71.49574 41.58013)

[1342504 rows x 2 columns]

In [31]:
type(generated_pop_blocks)

geopandas.geodataframe.GeoDataFrame

In [32]:
core.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - NAD83
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [33]:
generated_pop_blocks.columns = ['POP10', 'geometry']

In [34]:
generated_pop_blocks.geometry = generated_pop_blocks['geometry']

In [35]:
generated_pop_blocks.head()

   POP10                    geometry
0      1  POINT (-77.25832 39.90518)
1      6  POINT (-77.37845 39.90668)
2     14  POINT (-77.08970 39.74257)
3      6  POINT (-77.43179 39.89980)
4     37  POINT (-77.40958 39.91029)

In [36]:
generated_pop_blocks.to_file('population_centroids.shp', encoding='utf-8')

CPLE_NotSupported in driver ESRI Shapefile does not support creation option ENCODING